<app-home></app-home>
<div class="p-3">
<h1>Meetings</h1>
<hr />
<!-- <button class="btn btn-primary me-3"routerLink="/meetings/filter">Filter/Search meetings</button>
<button class="btn btn-primary"  routerLink="/meetings/add">Add Meeting</button> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
      
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/meetings/filter"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Filter/Search meetings
          </a>
        </li>
 
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/meetings/add"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Add a meeting
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>