
<div class="body p-3 mb-3">
    <h1>Search for meetings</h1>
    <hr/>
    <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <select id="date" name="date" class="form-control" [(ngModel)]="searchParamOption">
            <option value="present">TODAY</option>
            <option value="all">ALL</option>
            <option value="past">PAST</option>
            <option value="future">UPCOMING</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="searchfor" class="form-label">Search for</label>
        <textarea id="searchfor" name="searchfor" placeholder="Search using words which describe the meeting" class="form-control" [(ngModel)]="searchParamInput"></textarea>
    </div>
    <div>
        <button class="btn btn-primary" style="color: white;"(click)="searchMeeting()">Search</button>
    </div>
</div>

<div>
    <h2>Meetings matching search criteria</h2>
    <div *ngFor="let meeting of meetings">
    <ul class="list-group mt-2">
        <li class="list-group-item">
          <h5>{{ meeting.date | date: 'mediumDate' }}</h5>
          <span style="display: inline; margin-left: 10px;">{{ meeting.startTime.hours }}:{{ meeting.startTime.minutes }} - {{ meeting.endTime.hours }}:{{ meeting.endTime.minutes }}</span>
          <div>{{meeting.name}}</div>
          <button value="submit" class="btn btn-danger mt-2" (click)="excuse(meeting._id || '')">Excuse yourself</button>
           <hr/>
           <h6 style="display: inline;">Attendees:</h6>
           <span *ngFor="let attendee of meeting.attendees">
             {{ attendee.email }} , 
            </span>
            <div>
                <select id="mem" name="mem" [(ngModel)]="selectedMemberId">
                    <option value="" disabled selected>Select member</option>
                   <option *ngFor="let user of users" [value]="user._id">{{user.email}}</option>
                </select>
                <button value="submit" class="btn btn-primary mx-2" (click)="addMember(meeting._id || '',selectedMemberId,getUserEmailById(selectedMemberId))" >Add</button>
            </div>
                  
        </li>
        
    </ul>
    </div>
</div>

